*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', Georgia, serif;
}
html {
    font-size: 16px;
}
.main{
    width:100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #fff2e2;
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateY(30%);
}
.facts-caption.hide {
    opacity: 0;
    visibility: hidden;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
.nav {
    position: fixed;
    top: -5vh;
    left: 50%;
    z-index: 15;
    background-color:rgba(255,105,180);
    border-radius: 400px;
    transform: translateX(-50%);
    z-index: 11;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    
    
    width: 40%;
    height: 12vh; 
    min-height: 100px;

}
.nav-links {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}
.nav-links ul {
    margin: 0;
    padding 0;
    padding-top: 1vh;
    display: flex;
    justify-content: center;
}

.nav-links ul li{
    list-style: none;
    list-style-position: outside;
    display: flex;
    margin: 0 20px;
    margin-top: 2rem;
    font-size: 1.5rem;
}
.nav-links ul li a {
    color: black;
    text-decoration: none;
}
.nav-links ul li a:hover, .nav-links ul li a:active {
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

.nav.scrolled, .app-nav.scrolled {
    background-color: rgba(255, 105,180, .7); 
}
.box_info_home{
    position: relative;
    text-align: center;
    color: black;
    width:100%;
    height: 75%;
    margin-top: 10rem;
    object-position: center;
    vertical-align: top;
    box-sizing: border-box;
    margin: 7vh;
}
.box_info_home .heading {
    font-size: 4rem;
    top: 5rem;
    font-style: normal;
    position: relative;
    z-index: 10;
    margin-left: 2rem;
    margin-right: 2rem;
}
.box_info_home .box_info_home_text {
    position: relative;
    top: 5rem;
    font-size: 5em;
}
.home_pic_text_container {
    width: 100%;
    height: 100%;
    display: flex; 
    background: #415663;
    margin-bottom: 7vh;
}
.home_pic_text_container .box_pic_home,
.home_pic_text_container .home_text_box {
    box-sizing: border-box;
    display: flex;  
    justify-content: center; 
    align-items: center;
    padding: 0;
    position: relative;
}
.box_pic_home {
    width: 40%;
}
.box_pic_home img {
    float: left;
    margin-left: 2vh;
    margin-top: 3vh;
    width: 50vh;
    height: 50vh;
    border-radius: 100%;
    overflow: hidden;
}
.home_pic_text_container .home_text_box {
    padding: 3vh;
    width: 60%;
    margin-right: 3rem;
    color: #fff2e2;
    font-size: 5vh; 
    text-align: center; 
    line-height: 8vh;
}
.ab-header-shape {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 8;
    height: auto;
    display: flex;
}

.ab-header-shape img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ab-gist_rect {
    color: black;
    font-size: 5rem;
    margin-left: 4vh;
    margin-right: 4vh;
    box-sizing: border-box;
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 0;
    position: relative;
    font-weight: bolder; 
    width: 100%;
}
.ab-heading-middle {
    transition: .5s ease;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.about-me-heading {
    width: 100%;
    height: 45%;
    background-color: #415663;
    align-content: center;
}
.about-me-heading span {
    margin-top: 6rem;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    padding-left: 100%;
    animation: span-scroll 25s linear infinite;
    overflow: hidden;
    font-size: 5vh;
    color: #fff2e2;
}
@keyframes span-scroll {
    0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.facts {
    margin-top: 7vh;
    margin-bottom: 17vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    position: sticky;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.facts-caption {
    align-content: center;
    margin-top: 3vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    align-items: center;
    z-index: 1;
}
.facts-caption h1 {
    background: hotpink;
    color: #fff2e2;
    border-radius: 50%;
    font-size: 1rem;
    width: 16vh;
    height: 16vh;
    display: flex;
    text-align: center;
    align-items: center;
    position: absolute;
    padding: .7rem;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border: solid black;
    left: 10%;
    transform: translate(-50%, 55%);
    -ms-transform: translate(-50%, -50%);
}

.facts-half {
    background: #672240;
    color: #fff2e2;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    z-index: .5;
    border: solid;
    border-color: black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.facts-box {
    position: relative;
}
.facts-half h1 {
    text-align: center;
    margin: 20px;
    font-size: 5vh;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}
.facts-half ul {
    padding: 20px;
}
.facts-half ul li {
    list-style-type: circle;
    padding: 20px;
    margin-left: 20px;
    font-size: 3vh;
    z-index: 2;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup-comp-sci {
    display: none;
    width: 70vw;
    height: 70vh;
    color: #fff2e2;
    
    border-radius: 20px;
    padding: 5rem;
    position: absolute;
    z-index: 10;
    width: 70vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -50%);
    -ms-transform: translate(-15%, -50%);
    z-index: 100;
    
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid white;
    
    box-sizing: border-box;
    
    font-family: "Lucida Console", monospace;
    

}
.typing-text {
    font-family: "Lucida Console", monospace;
}


.popup-datasci {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    border: 5px solid black;
    display: none;
    width: 70%;
    background-color: white;
    height: auto;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    position: fixed;
    z-index: 40;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.table, td, th {
    border: 1px solid;
    text-align: center;
    column-gap: 0;
    font-family: "Calibiri", serif;
    border-right: 2px solid;
}
caption {
    border: 2px solid;
    padding: 1rem;
}
td {
    text-align: left;
    padding: 1vh;
    padding-left: .3vh;
}
th{
    background-color: gainsboro;
}
.table td.table-heading {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid;
    background: #d3e2fd;
}
.table {
    width: 75%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.popup-barista {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    display: none;
    background-image: radial-gradient(#31343a, #3a3c41);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    border-radius: 20px;
    padding: 5rem;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid black;
}
.barista-heading {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    font-family: 'Chalkduster', sans-serif;
    color: white;
}
.barista-halves {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.barista-half {
    width: 50%;
    height: auto;
    font-family: 'Bradley Hand', sans-serif;
    color: white;
    font-size: 1rem;
}
.barista-half h1, .barista-half ul li, .barista-half ul li a {
    font-family: 'Bradley Hand', sans-serif;
    color: white;
    list-style-type: disc;
    padding: 1rem;
}
.barista-half ul li a {
    text-decoration: none;
}
.barista-half ul li a:hover, .barista-half ul li a:active  {
    text-decoration: underline;
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}



.popup-webdev {
    display: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 2rem;
    position: fixed;
    z-index: 1;
    width: 70%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d5b3c2;
    border-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-width: medium;
    border: medium solid black;
    box-sizing: border-box;
}
.webdev-heading {
    position: relative;
    width: 100%;
    height: 4rem;
    border-color: black;
    border-radius: 15px;
    border: medium solid black;
    justify-content: center;
    align-content: center;
    text-align: left;
    padding-left: 1rem;
    background-color: gainsboro;
    box-sizing: border-box;
    margin:0;
    color: black;
}
.webdev-main {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.webdev-half {
    width: 50%;
    height: auto;
    flex: 1 1 auto;
    border: medium solid black;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 2rem;
    padding: .5rem;
    background-color: #fff2e2;
    color: black;
}
.webdev-half-heading {
    border: medium solid black;
    border-radius: 15px;
    width: 90%;
    height: 2rem;
    background-color: gainsboro;
    padding-left: 1rem;
    align-content: center;
    align-items: center;
    text-align: left;
    display:flex;
    justify-content: space-between;
    margin-bottom: 1.5vh;
    color: black;
}
.webdev-half hr {
    height: 3px;
    background-color: black;
    margin-left:0;
    margin-right: 0;
}
.webdev-half ul, .webdev-half ul li{
    color: black;
    font-size: 1rem;
    padding: .5rem;
    line-height: 3vh;
    align-content: center;
    text-align: left;
    list-style: disc;
}
.popup:hover, .popup:active {
    color: hotpink;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}
.popup-webdev:hover, .popup-webdev:active, .popup-concerts:hover, .popup-concerts:active {
    color: initial; 
    text-decoration: none;  
}

.popup-concerts {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    display: none;
    background-color: #d5b3c2;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 5rem;
    position: fixed;
    z-index: 1;
    border: 5px solid black;
}
.concerts-heading {
    margin-top: none;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff2e2;
    text-align: center;
}
.concert-pics {
    display: flex;
    float: left;
    flex-wrap: wrap;
}
.concerts-column {
    flex: 32%;
    padding: 0 1px;
}

.concerts-container{
    vertical-align: middle;
    width: 100%;
    padding: 1px;
    position: relative;
}

.concerts-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    max-height: 4%;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.concerts-container:hover .concerts-image, .concerts-container:active .concerts-image {
    opacity: 0.3;
}

.concerts-container:hover .middle, .concerts-container:active .middle {
    opacity: 1;
}

.concerts-text {
    background-color: hotpink;
    color: white;
    font-size: 1rem;
    padding: 16px 32px;
}
.popup .popup-comp-sci,
.popup .popup-datasci,
.popup .popup-barista,
.popup .popup-webdev,
.popup .popup-concerts,
.popup .popup-travel,
.popup .popup-music {
    visibility: hidden;
    display: none; /* Ensure all popups are hidden initially */
}
.popup.appear .popup-comp-sci,
.popup.appear .popup-datasci,
.popup.appear .popup-barista,
.popup.appear .popup-webdev,
.popup.appear .popup-concerts,
.popup.appear .popup-travel,
.popup.appear .popup-music {
    visibility: visible; /* Show popup when active */
    opacity: 1;
    animation: fadeIn 1s;
    z-index: 1000;
}

.popup .btn {
    background: red;
    position: absolute;
    color: white;
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    align-items: center;
    border-radius: 50px;
    font-size: 1rem;
    top: 0;
    right: 0;
    margin: .5rem;
}
.popup .btn .web {
    margin: 1rem;
    background: red; /* Example background color for the button */
    color: white; /* Example text color for the button */
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1rem;
}
.webdev-btn {
    margin: .5rem;
    background: red; /* Example background color for the button */
    color: white; /* Example text color for the button */
    border: none;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    font-size: 1rem;
}
.popup-music {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    display: none;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 70vh;
    border-radius: 20px;
    border: 10px solid black;
    overflow: auto;
    padding: 5rem;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.music-heading {
    color: green;
    font-size: 4rem;
    font-weight: bolder;
}
.music-box {
    display: flex;
    flex-direction: row;
}
.music-image, .music-image img {
    width: 15vh;
    height: 15vh;
    border-radius: 100%;
    background: green;
}
.music-image {
    margin: 2rem;
}
.music-text {
    width: 80%;
    margin: 2rem;
    color: white;
    font-size: 1rem;
    background: green;
    padding: 2rem;
    border-radius: 15px;
}
.popup-travel {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    background-color: #d5b3c2;
    color: #fff2e2;
    font-size: 2rem;
    text-align: center;
    width: 70vw;
    height: 70vh;
    border-radius: 20px;
    position: fixed;
    z-index: 100;
    padding: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
}
.travel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.postcard-row {
    justify-content: center;
    align-content: center;
    width: 100%;
}
.postcard{
    width: 90%;
    height: 30%;
    justify-content: center;
    align-content: center;
    position: relative;
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
}
.travel-heading {
    width: 100%;
    color: #fff2e2;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}
.postcard img {
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 1;
    object-fit: cover;
    margin-right: 2rem;
    border-radius: 15px;
    border: 3px solid #faebd7;
    align-content: center;
}
.postcard-back {
    background: #faebd7;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 5px solid transparent;
    border-image: 8 repeating-linear-gradient(45deg, red 0, red 1em, transparent 0, transparent 2em,
                  #58a 0, #58a 3em, transparent 0, transparent 4em);
    justify-content: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.postcard-place, .postcard-text {
    align-self: center;
    width: 50%;
    color: black;
}
.postcard-place {
    text-decoration: underline;
    font-family: "Lucida Handwriting", cursive;
}
.postcard-text {
    padding: 1rem;
    font-size: 1rem;
    font-family: "Bradley Hand", serif;
}
.vl {
    height: 75%;
    align-self: center;
    border-left: 4px solid black;
}
.stamp {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px; 
    height: 50px;
    border: 2px solid black;
}
.postcard:hover img,
.postcard:active img {
    opacity: 0;
}

.postcard:hover .postcard-back,
.postcard:active .postcard-back {
    opacity: 1;
}
.popup-comp-sci, .popup-datasci, .popup-webdev, .popup-music, .popup-barista, .popup-concerts, .popup-travel {
    max-height: 60vh;
    overflow: auto;
}
/* width */
.popup-datasci::-webkit-scrollbar, .popup-webdev::-webkit-scrollbar, .popup-music::-webkit-scrollbar, .popup-barista::-webkit-scrollbar, .popup-concerts::-webkit-scrollbar, .popup-travel::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.popup-datasci::-webkit-scrollbar-track, .popup-webdev::-webkit-scrollbar-track, .popup-music::-webkit-scrollbar-track, .popup-barista::-webkit-scrollbar-track, .popup-concerts::-webkit-scrollbar-track, .popup-travel::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

/* Handle */
.popup-datasci::-webkit-scrollbar-thumb, .popup-webdev::-webkit-scrollbar-thumb, .popup-music::-webkit-scrollbar-thumb, .popup-barista::-webkit-scrollbar-thumb, .popup-concerts::-webkit-scrollbar-thumb, .popup-travel::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.favorites {
    width: 100%;
    height: auto;
    text-align: center;
    background: #fff2e2;
    position: relative;
    margin-top: 15rem;
}
.favorites .favorites-heading::after {
    content: "";
    clear: both;
    display: table;
}
.favorites .favorites-heading .row {
    float: left;
    width: 25%;
    padding: 0px;
}
.favorites .favorites-heading .row-h {
    float: left;
    width: 50%;
    padding: 0px;
    font-size: 2rem;
}
.favorites .favorites-heading .row img {
    width: 15vh;
    height: 15vh;
    object-fit: contain;
}
.favorites .favorites-grid {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 3rem;
    justify-items: center;
    align-items: center;
    margin: 3rem;
}

.favorites .favorites-grid .row1, .favorites .favorites-grid .row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favorites .favorites-grid .row1 div, .favorites .favorites-grid .row2 div {
    margin: 0.5rem 0;
}

.favorites .favorites-grid .row1 img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 15px;
}
.favorites .favorites-grid .row1 .album img:hover, .favorites .favorites-grid .row1 .song img:hover, .favorites .favorites-grid .row2 .youtube img:hover {
    transform: scale(1.1);
}
.favorites .favorites-grid  .row2 img { 
    width: 24rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 15px;
}
.favorites .favorites-grid .row2 .youtube img {
    width: auto;
    height: auto;
    max-height: 14rem;
    max-width: 24rem;
    object-fit: contain;
    border-radius: 15px;
}
.current-projects-heading {
    margin-top: 20rem;
    margin-bottom: 1rem;
    font-size: 4rem;
}
.current-projects {
    display: flex;
    float: left;
    flex-wrap: wrap;
    margin-bottom: 30vh;
}
.cp-column {
    flex: 33%;
    max-width: 33%;
    padding: 0 1px;
}

.cp-container{
    vertical-align: middle;
    width: 100%;
    padding: 1px;
    position: relative;
}

.cp-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.cp-container:hover .cp-image, .cp-container:active .cp-image {
    opacity: 0.3;
}

.cp-container:hover .middle, .cp-container:active .middle{
    opacity: 1;
}

.cp-text {
    background-color: #415663;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 35px;
}
.app-header {
    height: 100%;
    font-size: 5rem;
    text-align: center;
    margin-top: 20vh;
}
.contact_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 15%;
    background: #d5b3c2;
    position: relative;
    z-index: 8;
    padding-top: 10vh;
    padding-left: 3vh;
    padding-right: 3vh;
    top: auto;
    box-sizing: border-box;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    position: relative;
    padding: auto;
    z-index: 10;
    width: 100%;
    padding-bottom: 10vh;
    text-align: center; 
    color: black;
}
.email{
    display: flex;
    width: 33%;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    font-size: 2.5vh;
}
.name {
    width: 33%;
    font-size: 5vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: bolder;
}
.button-group {
    width: 33%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    z-index: 10;
    margin-right: 1rem;
    
}
.button a {
    padding: 1vh;
    color: white;
}

.button img {
    width: 6vh;
    height: 6vh;
    transition: transform 0.3s;
}

.button img:hover {
    transform: scale(1.1);
}
.grace {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    bottom: 0;
    margin-top: auto;
}
.grace p {
    font-weight: normal;
}

/* phones and ipad mini*/
@media screen and (max-width: 1000px){
    .nav {
        width: 70%;
        height: 8vh;
    }
    .nav ul li {
        font-size: .7rem;
    }
    .ab-header-shape .ab-heading-middle .ab-gist_rect {
        letter-spacing: 1vh;
        font-size: 1rem; 
        letter-spacing: normal;
    }
    .ab-header-shape {
        margin: none;
    }
    .home_pic_text_container {
        flex-direction: column;
    }
    .home_pic_text_container .home_text_box {
        font-size: 3vh;
        width: 100%;
        height: 60%;
        line-height: 5.5vh;
    }
    .home_pic_text_container .box_pic_home {
        width: 100%;
        height: 40%;
        margin-top: 10%;
    }
    .home_pic_text_container .box_pic_home img {
        width: 30vh;
        height: 30vh;
    }
    .contact_info {
        padding-left: 2vh;
        padding-right: 2vh;
    }
    .info .name {
        font-size: 3vh;
    }
    .info .email {
        font-size: 1vh;
        justify-content: center;
    }
    .grace {
        font-size: 1vh;
    }
    .button-group {
        margin: 0;
        justify-content: center;
    }
    .button a {
        padding: .5vw;
    }
    .contact_info .button-group .button img{
        width: 2vw;
        height: 2vh;
    }
    .cp-container, .cp-column {
        flex: 32%;
    }
    .favorites .favorites-heading .row img {
        width: 5vh;
        height: 5vh;
    }
    .facts {
        margin: auto;
        grid-template-columns: 1fr !important; 
        grid-gap: 5% !important;
    }
    .facts-caption {
        margin-top: 2vh;
        margin-bottom: 5vh;
        width: 100%;
        height: auto;
        border-radius: 0;
    }
    .facts-caption h1 {
        border-radius: 0;
        width: 100%;
        padding: .5rem;
        margin-bottom: 1rem;
        height: auto;
        left: 50%;
    }
    .facts-half {
        width: 100% !important; 
        height: auto !important; 
    }
    .popup-comp-sci {
        width: 70vw;
        height: 50vh;
        padding: 1rem;
        line-height: 3vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        font-size: 1rem;
        flex-direction: column;
    }
    .typing-text {
        margin-top: 2rem;
    }
    .popup-barista {
        width: 70vw;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }
    .barista-halves {
        flex-direction: column;
    }
    .barista-half ul li {
        font-size: 1rem;
    }
    .barista-half h1 {
        font-size: 2rem;
    }
    .barista-half {
        width: 100%;
        height: 50%;
    }
    
    .about-me-heading {
        height: 25%;
    }
    .popup-webdev {
        width: 70vw; 
        height: auto;
        padding: 1rem; 
    }

    .webdev-heading {
        height: 3rem; 
        padding-left: .5rem; 
        font-size: .8rem;
    }

    .webdev-main {
        flex-direction: column; 
    }

    .webdev-half {
        width: 100%; 
        margin: .5rem 0; 
    }

    .webdev-half-heading {
        height: 1rem; 
        font-size: .8rem;
    }

    .webdev-half ul, .webdev-half ul li {
        font-size: .9rem; 
        line-height: 3vh; 
    }
    .popup-concerts {
        width: 70vw;
        height: 70vh;
        flex-direction: row;
        padding: 2rem;
    }
    .concerts-column {
        flex: 100%;
    }
    .concerts-heading {
        font-size: 1rem;
    }
    .concerts-text {
        font-size: .7rem;
    }
    .popup-travel {
        width: 70vw; 
        height: auto; 
        padding: 1rem; 
    }

    .travel-container {
        flex-direction: column; 
        flex-wrap: wrap;
    }

    .postcard-row {
        flex-direction: column; 
        flex-wrap: wrap;
    }

    .postcard {
        width: 100%; 
        margin-bottom: 1rem; 
        margin-top: 4rem;
    }

    .postcard img {
        width: 100%; 
        height: auto; 
        margin-right: 0; 
    }
    .travel-heading {
        font-size: .8rem;
    }
    .postcard-back {
        padding: 1rem; 
        font-size: .8rem;
    }
    .postcard-text{
        font-size: .5rem;
    }

    .stamp {
        width: 30px; 
        height: 30px; 
    }
    .popup-music {
        width: 70vw; 
        height: auto; 
        padding: 2rem; 
    }

    .music-heading {
        font-size: 2.5rem; 
    }

    .music-box {
        flex-direction: column; 
        align-items: center; 
    }

    .music-image, .music-image img {
        width: 10vh; 
        height: 10vh; 
    }

    .music-image {
        margin: 1rem;
    }

    .music-text {
        width: 100%; 
        margin: 1rem 0; 
        font-size: 0.9rem; 
        padding: 1rem; 
    }
    .favorites .favorites-heading .row-h {
        font-size: 1rem;
    }
    .favorites .favorites-grid {
        font-size: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        margin: 1rem;
        grid-gap: 1rem;
    }
    .cp-text{
        font-size: .5rem;
    }
    
    .current-projects-heading {
        margin-top: 8vh;
        font-size: 2rem;
    }
    .popup-travel {
        padding: 2rem;
        
    }
    .popup:hover, .popup:active {
        text-underline-offset: 6px;
    }
    .webdev-half li {
        line-height: 8vh;
    }

}
/*ipad pro, nest hub*/
@media screen and (max-width: 1000px) and (max-height: 1400px) {
    .ab-header-shape .ab-gist_rect {
        font-size: 3rem; 
        letter-spacing: 1vh;
        font-size: 3rem; 
        letter-spacing: normal;
        margin: 0;
    }
    .ab-header-shape {
        margin: 0;
    }
    .home_pic_text_container {
        flex-direction: column;
    }
    .home_pic_text_container .home_text_box {
        font-size: 3vh;
        width: 100%;
        height: 60%;
        line-height: 5.5vh;
    }
    .home_pic_text_container .box_pic_home {
        width: 100%;
        height: 40%;
        margin-top: 10%;
    }
    .home_pic_text_container .box_pic_home img {
        width: 30vh;
        height: 30vh;
    }
    .ab-heading-middle {
        flex-direction: column;
        display: block;
    }
    .box_pic_home {
        width: 100%;
        height: 40%;
    }
    .ab-header-shape {
        margin: none;
    }
    .ab-gist_rect {
        width: 100%;
        height: 60%;
        font-size: 3rem; 
        letter-spacing: normal;
    }
    
    .contact_info {
        padding-left: 2vh;
        padding-right: 2vh;
    }
    .name {
        font-size: 2.5vh;
    }
    .email {
        font-size: 1.5vh;
    }
    .contact_info .button-group {
        padding: 0;
    }
    .contact_info .button-group .button img{
        width: 3vh;
        height: 3vh;
    }
    .cp-container, .cp-column {
        flex: 32%;
    }
    .favorites .favorites-heading .row img {
        width: 5vh;
        height: 5vh;
    }
    .app-header {
        margin-top: 50%;
    }
   .facts {
        margin: auto;
        grid-template-columns: 1fr !important; 
        grid-gap: 5% !important;
    }
    .facts-caption {
        margin-top: 2vh;
        margin-bottom: 5vh;
        width: 100%;
        height: auto;
        border-radius: 0;
        padding: 2vh;
    }
    .facts-caption h1 {
        border-radius: 0;
        width: 100%;
        height: auto;
        left: 50%;
    }
    .facts-half {
        width: 100% !important; 
        height: auto !important; 
    }
    .popup-comp-sci {
        width: 70vw;
        height: 40vh;
        padding: 1rem;
        line-height: 3vh;
        top: 50%;
        left: 50%;
        transform: translate(-52%, -50%);
        -ms-transform: translate(-52%, -50%);
        font-size: 1rem;
        flex-direction: column;
    }
    .popup-barista {
        width: 70vw;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }
    .barista-halves {
        flex-direction: column;
    }
    .barista-half {
        width: 100%;
        height: 50%;
    }
    .barista-half ul li {
        font-size: 1rem;
    }
    .barista-half h1 {
        font-size: 2rem;
    }
    .text-line {
        font-size: 1rem;
    }
    .about-me-heading {
        height: 25%;
    }
    .popup-webdev {
        width: 70vw; 
        height: auto; 
        padding: 1rem; 
    }

    .webdev-heading {
        height: 3rem; 
        padding-left: .5rem; 
        font-size: 1rem;
    }

    .webdev-main {
        flex-direction: column; 
    }

    .webdev-half {
        width: 100%; 
        margin: .5rem 0; 
    }

    .webdev-half-heading {
        height: 1rem; 
        font-size: 1rem;
    }

    .webdev-half ul, .webdev-half ul li {
        font-size: .9rem; 
        line-height: 2vh; 
    }
    .popup-concerts {
        width: 50vw;
        height: auto;
        padding: 3rem;
        flex-direction: row;
    }
    .concerts-heading {
        font-size: 1rem;
    }
    .popup-travel {
        width: 70vw;
        height: auto; 
        padding: 1rem; 
    }

    .travel-container {
        flex-direction: column; 
        flex-wrap: wrap;
    }

    .postcard-row {
        flex-direction: column; 
        flex-wrap: wrap;
    }
    .travel-heading {
        font-size: 1rem;
    }
    .postcard {
        width: 100%; 
        margin-bottom: 3rem; 
        margin-top: 4rem;
    }

    .postcard img {
        width: 100%; 
        height: auto;
        margin-right: 0; 
    }

    .postcard-back {
        padding: 1rem; 
        width: 92%;
        height: 92%;
        font-size: 1rem;
    }
    .stamp {
        width: 30px; 
        height: 30px; 
    }
    .popup-music {
        width: 70vw; 
        height: auto; 
        padding: 2rem;
    }

    .music-heading {
        font-size: 2.5rem;
    }

    .music-box {
        flex-direction: column; 
        align-items: center; 
    }

    .music-image, .music-image img {
        width: 10vh; 
        height: 10vh; 
    }

    .music-image {
        margin: 1rem; 
    }

    .music-text {
        width: 100%; 
        margin: 1rem 0; 
        font-size: 0.9rem; 
        padding: 1rem; 
    }
    .cp-text{
        font-size: .5rem;
    }
    .concerts-text {
        font-size: .3rem;
        padding: .3rem;
    }
    .popup-travel {
        font-size: .8rem;
        padding: 2rem;
        
    }
    
}
